<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wrs.cems.mapper.NationMapper" >

    <select id="getAllNations" resultType="com.wrs.cems.bean.Nation">
        SELECT id,name
        FROM nation
    </select>
</mapper>
